.wrapper {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	min-width: 32rem;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: var(--zindex-popover);
	transform-origin: right bottom;
}
@media (min-width: 48em) {
	.wrapper {
		border-radius: 1rem 1rem 0.5rem 0.5rem;
		box-shadow: var(--chat-widget-shadow);
		max-height: 45rem;
		max-width: 35rem;
		left: unset;
		top: unset;
		bottom: 10rem;
		right: 2rem;
	}
}
@media (min-width: 62em) {
	.wrapper {
		max-height: 60rem;
		max-width: 40rem;
	}
}
.open {
	animation: open 0.25s ease;
}
.close {
	animation: close 0.25s ease;
}

@keyframes open {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes close {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
