.badge {
	border-radius: 1rem;
	color: var(--text-primary);
	background-color: var(--secondary-color);
	font-size: 1.2rem;
	font-weight: 500;
	height: 2rem;
	line-height: 1;
	min-width: 2rem;
	padding: 0 0.6rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	z-index: 1;
	position: absolute;
	top: -0.5rem;
	right: -0.5rem;
}
