.bubble {
	background-color: var(--primary-color);
	border-radius: 1rem;
	color: var(--text-primary);
	font-size: 1.4rem;
	display: inline-block;
	line-height: 1.5;
	max-width: 100%;
	padding: 0.8rem 1.2rem;
	width: auto;
	word-break: normal;
	word-wrap: break-word;
}
.bubbleBot {
	background: var(--light-gray);
	color: #414141;
}
